<div>
    <h3>Users</h3>
<!--
    <rt-buffered-list [fetchMethod]="loadData" #list="rtList">
        <rt-demo-filter-area #filter [rtRegisterAsFilter]="filter">
        </rt-demo-filter-area>
        <table class="table table-striped" [rtSelectionAreaFor]="list.items">
            <caption rt-demo-toolbar>
            </caption>
            <thead rt-demo-sortable-header>
            </thead>
            <tbody>
                <tr *ngFor="let user of list.items, let index=index" [class.selected]="user.selected" [rtSelectByIndex]="index">
                    <td>
                        <rt-row-number [index]="index">
                        </rt-row-number>
                    </td>
                    <td>{{user.login}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <rt-demo-buffered-footer></rt-demo-buffered-footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </rt-buffered-list>-->
</div>